<div class="bg-color">
    <div class="container">
        <div class="d-flex">
            <button class="catalog_btn">
                <i class="fa-solid fa-bars"></i>
                CATALOG
            </button>

            <ul class="d-flex short_list justify-content-between align-items-center">
                <li>
                    <a href="#" class="title">TV, Audio, Video</a>
                </li>
                <li class="subMenu_block_hover">
                    <a href="#" class="title">Computers, Notebooks, Tablets</a>
                    <div class="subMenu_block">
                        <a href="#" class="title1">Computers, Notebooks, Tablets</a>
                        <ul class="subMenu">
                            <li>
                                <a href="#" class="category-item">Notebooks</a>
                                <ul>
                                    <li>
                                        <a href="#">Notebooks for office</a>
                                    </li>
                                    <li>
                                        <a href="#">Notebooks for design</a>
                                    </li>
                                    <li>
                                        <a href="#">Business notebooks</a>
                                    </li>  
                                    <li>
                                        <a href="#">Gaming notebooks</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="category-item">
                                    Monitors
                                </a>
                            </li>
                            <li>
                                <a href="#" class="category-item">Computer equipment</a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Keyboards and Combos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Mouses
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Web Cameras
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Stylus
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Laptop coolers
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Mouse mats
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Gaming chairs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Computer Microphones
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="title">Phones and Communication</a>
                </li>
                <li>
                    <a href="#" class="title">Household Appliances</a>
                </li>
                <li>
                    <a href="#" class="title">Kitchen Appliances</a>
                </li>
                <li>
                    <a href="#" class="title">Air conditioning equipment</a>
                </li>
                <li>
                    <a href="#" class="title">
                        <img src="./assets/images/catalog/miele.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#" class="title">
                        <img src="./assets/images/catalog/bosch.png" alt="">         
                    </a>
                </li>
                <li>
                    <a href="#" class="title">
                        <img src="./assets/images/catalog/k-array.png" alt="">         
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>